/*header.php*/
.navbar{
    background-color:#3c3e44;
    transition: background-color 0.5s;
}
.navbar.change{
    background-color:transparent ;
    transition: background-color 0.5s;
}

/*index.php*/
.ads-carousel{
    padding-top:56px ;
}
.hotsell{
    text-align: center;
    padding-top: 30px;
    color:orangered;
    text-shadow: -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange, 1px 0 orange;
}

/*item-carousel,php*/
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}

/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
  