body, wrapper {
    min-height:150vh;
 }

/*header.php*/
.navbar{
    background-color:white;
    transition: background-color 0.5s;
}
.navbar-change{
    background-color: #3c3e44;
    transition: background-color 0.5s;
}
.navbar-custom .navbar-brand{
    color: black;
}
.navbar-custom .navbar-nav .nav-link, .navbar-custom .fa-bars{
    color: black;
}
.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link,
.navbar a.navbar-brand:hover{
    color: hotpink;
}
.strip-header{
    background-color:#3c3e44;
    height: 60px;
}

/*footer.php*/
.fab{
    font-size: 20px;
}
.font-color{
    color: white;
}
.footer-hr{
    border: 0;
    border-top: 2px solid hotpink;
    width: 90px;
    margin: 0;
    margin-bottom: 20px;
}
.logo-bt{
    background-color:#303136;
}

/*index.php*/
.headtext{
    padding-top: 200px;
    color: white;
    font-size: 50px;
    background-color: black;
    height: 60vh;
    text-align: center;
}

/*about-us,php*/
.about,.us{
display: inline;
}
.us{
    color: hotpink;
}

/*item-carousel,php*/
.carousel-inner.vv-3 .carousel-item.active,
.carousel-inner.vv-3 .carousel-item-next,
.carousel-inner.vv-3 .carousel-item-prev {
  display: flex;
}

.carousel-inner.vv-3 .carousel-item-right.active,
.carousel-inner.vv-3 .carousel-item-next {
  transform: translateX(17%);
}

.carousel-inner.vv-3 .carousel-item-left.active,
.carousel-inner.vv-3 .carousel-item-prev {
  transform: translateX(-17%);
}

.carousel-inner.vv-3 .carousel-item-right,
.carousel-inner.vv-3 .carousel-item-left {
  transform: translateX(0);
}